{% extends 'base_full.html' %}

{% block title %}
<title>区域经济可视化</title>
{% endblock %}

<!-- css start -->
{% block css %}
<style>
    body{
        height:100% auto;
        width:100% auto;
    }
    table{
        height: 100%;
        width: 100%;
    }
    #content {
        width: 100%;
        height: 100%;
    }

    #tab_bar {
        width: 100%;
        height: 20px;
        float: left;
    }
    #tab_bar ul {
        padding: 0px;
        margin: 0px;
        height: 20px;
        text-align: center;
    }

    #tab_bar li {
        list-style-type: none;
        float: left;
        width: 50%;
        height: 20px;
        background-color: gray;
    }

    .tab_css {
        width: 100%;
        height: 600px;
        background-color: orange;
        display: none;
        float: left;
    }

    #allmap {
        height: 100%;
    }
</style>
{% endblock %}
<!-- css end -->

{% block content %}
<table border="1" cellspacing=0 cellpadding=0>
    <tr style="height:80%;background-color: white">
        <td style="width:60%;color: green">
            <div id="allmap"></div>
            <!--<ul  style="list-style:none;line-height: 100px">
                <li><a href="http://www.baidu.com" target="myframe"><img src="img/bd.gif"></a></li>
                <li><a href="https://www.ifeng.com/" target="myframe"><img src="img/fh.gif"></a></li>
                <li><a href="http://www.taobao.com" target="myframe"><img src="img/tb.gif"></a></li>
                <li><a href="https://www.sina.com.cn/" target="myframe"><img src="img/xl.gif"></a></li>
                <li><a href="http://www.51zxw.com" target="myframe"><img src="img/我要自学网.png"></a></li>
            </ul>-->

        </td>
        <td colspan="2" style="width: 40%">
            <div id="content">
                <div id="tab_bar">
                    <ul>
                        <li id="tab1" onclick="myclick(1)" style="background-color: orange">
                            数据
                        </li>
                        <li id="tab2" onclick="myclick(2)">
                            图表
                        </li>
                    </ul>
                </div>
                <div class="tab_css" id="tab1_content" style="display: block">
                    <div>

                    </div>
                </div>
                <div class="tab_css" id="tab2_content">
                    <div>
                        YEMIANER
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
{% block script %}
<script src="http://api.map.baidu.com/api?v=2.0&ak=in6XhrBGd3XdVIAuh4NoXP0liZi42Lum"></script>
<script type="text/javascript">

    // tab switch
    var myclick = function(v) {
        var llis = document.getElementsByTagName("li");
        for(var i = 0; i < llis.length; i++) {
            var lli = llis[i];
            if(lli == document.getElementById("tab" + v)) {
                lli.style.backgroundColor = "orange";
            } else {
                lli.style.backgroundColor = "gray";
            }
        }
        var divs = document.getElementsByClassName("tab_css");
        for(var i = 0; i < divs.length; i++) {
            var divv = divs[i];
            if(divv == document.getElementById("tab" + v + "_content")) {
                divv.style.display = "block";
            } else {
                divv.style.display = "none";
            }
        }
    }

    /**
        创建地图
    */
    function createMap() {
        // map 这的 map 使用的全局变量，是为了 selectCity() 中能够直接使用该 map
        map = new BMap.Map("allmap");
        // 创建地图实例  
        var point = new BMap.Point(116.404, 39.915);
        map.centerAndZoom(point, 15);
        // 根据 IP 定位到当前城市
        let city = new BMap.LocalCity();
        city.get(function(e) {
            // 获取城市的名字
            let cityName = e.name;
            // 设置导航栏显示
            $('#location .text').text(cityName);
            // 设置地图中心为当前城市
            map.setCenter(cityName);
        });
        // map.centerAndZoom('德阳', 15);
        // 创建点坐标  
        // var map = new BMap.Map("allmap");  // 创建Map实例
        // map.centerAndZoom("四川",15);      // 初始化地图,用城市名设置地图中心点   
    }
    
    // 给导航栏添加点击事件，并切换地图
    function selectCity() {
        // 给城市添加点击事件
        $('#location .model>.rml-city-btn').click(function(e){
            // 获取城市的名字
            let city = $(this).text();

            // 样式变化
            $('#location .model>.rml-city-btn').removeClass('active');
            $(this).addClass('active');
            $('#location .text').text(city);
            $('#location .model').hide();
            // 数据变化，根据city名字设置城市
            map.centerAndZoom(city, 15);

        });
    }   
    createMap();
    selectCity();     
</script>
{% endblock %}